---
layout: layout
title: "George Sudarkoff"
---
<p></p>
{% for post in site.posts %}
{% if not post.draft %}
<div class="row">
  <div class="span7">
    <div class="row">
      <div class="span6">
          <h4><strong><a href="{{ post.url }}">{{ post.title }}</a></strong></h4>
            <p>{{ post.summary }}</p>
            <div><i class="icon-calendar"></i> {{ post.date | date: "%B %e, %Y" }}
             | <i class="icon-comment"></i> <a href="{{ site.url }}{{ post.url }}#disqus_thread"></a>
            </div>
      </div>
    </div>
    <hr />
  </div>
</div>
{% endif %}
{% endfor %}

