<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/screen.css">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
  </head>
  <body>
    <header class="menu">
        <nav class="nav">
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="/">Home</a>&nbsp;&#9900;&nbsp;
                </li>
                <li class="nav-item">
                    <a href="/posts">Articles</a>
                </li>
            </ul>
        </nav>
    </header>
    {{ block "main" . }}
    <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ block "footer" . }}
    <div id="footer">
		    <a href="https://sudarkoff.com"><img alt="Coaching" src="/img/gs-logo.svg" /></a>&nbsp;
		    <a href="https://failtosucceed.blog"><img alt="Blog: Fail to Succeed" src="/img/medium.svg" /></a>&nbsp;
		    <a href="https://linkedin.com/in/sudarkoff"><img alt="LinkedIn" src="/img/linkedin.svg" /></a>&nbsp;
        <a href="https://hachyderm.io/@sudarkoff" rel="me"><img alt="Mastodon" src="/img/mastodon.svg" /></a>&nbsp;
		    <a href="https://github.com/sudarkoff"><img alt="GitHub" src="/img/github.svg" /></a>
        <br />
		    George Sudarkoff &copy; 2019-2023
	  </div>
    {{ end }}
  </body>
</html>
