{{ define "main" }}
<main>
        {{ .Content }}
        <div class="contents">
            {{ template "_internal/pagination.html" . }}
            {{ range .Paginator.Pages }}
            <h2>{{ .Title }}</h2>
            <div>
                <section>
                    {{ .Summary }}
                </section>
            </div>
            <div class="meta">{{ .Date.Format "Jan 2, 2006" }} | {{ .WordCount }} Words | <a href="{{ .RelPermalink }}">Read more…</a></div>
        {{ end }}
        </div>
      <!-- partial "pagination.html" . -->
    </main>
{{ end }}
