{{ define "main" }}
    <main aria-role="main">
      <header class="homepage-header">
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
      </header>
      <div class="homepage-content">
        {{.Content}}
      </div>
      <div class="homepage-content">
        <hr />
        <ul>
        {{ range ( where .Site.RegularPages "Type" "posts" | first 3 ) }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{end}}
        </ul> 
      </div>
    </main>
{{ end }}
