html {
  font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}

body {
  line-height: 1.85;
}

p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

h1,
h2,
h3,
h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

h1 {
  margin-top: 0;
  font-size: 3.998rem;
}

h2 {
  font-size: 2.827rem;
}

h3 {
  font-size: 1.999rem;
}

h4 {
  font-size: 1.414rem;
}

h5 {
  font-size: 1.121rem;
}

h6 {
  font-size: .88rem;
}

small {
  font-size: .707em;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,300);

html {
  font-size: 18px;
  max-width: 100%;
}

body {
  color: #444;
  font-family: 'Merriweather', Georgia, serif;
  margin: 0;
  padding: 1em;
  max-width: 100%;
}

/* === A bit of a gross hack so we can have bleeding divs. */

p,
*:not(div):not(img):not(body):not(html):not(ul):not(li):not(p):not(header):not(nav) {
  margin: 1rem auto 1rem;
  max-width: 36rem;
  padding: .25rem;
}

.nav-header {
  line-height: 1;
  padding: 0;
  margin: auto;
  text-align: center;
}

.nav {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.nav-bar {
  align-items: center;
  display: flex;
  padding: 0;
  margin: 0 0 0.88em 0;
}

.nav-menu {
  align-items: center;
  display: flex;
  font-family: sans-serif;
  font-size: 0.88rem;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  padding: 0 0 0.88em 0;
  margin: 0;
}

li.nav-item {
  display: list-item;
  text-align: match-parent;
  list-style: none;
}

li.nav-item a {
  text-decoration: none;
  color: #777;
}

div img {
  width: 100%;
}

#footer {
  font-size: .8em;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
}

li {
  margin-left: 2rem;
}

/* Counteract the specificity of the gross *:not() chain. */

h1 {
  padding: 4rem 0 !important;
}

/*  === End gross hack */

p {
  color: #555;
  height: auto;
  line-height: 1.45;
}

pre,
code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

pre {
  background-color: #e6e0e0;
  font-size: .8rem;
  overflow-x: scroll;
}

blockquote {
  border-left: 3px solid #e99153;
}

a,
a:visited {
  color: #e99153;
}

a:hover,
a:focus,
a:active {
  color: #170530;
}

a.button {
  display: inline-block;
  background-color: #e99153;
  border: none;
  border-radius: 2px;
  box-shadow: rgba(0, 18, 71, 0.4) 0px 1px 3px 0px, rgba(0, 0, 33, 0.14) 0px 0px 2px 0px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 2px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
