{{ define "title" }}
    {{ .Title | humanize }} — {{ .Site.Title }}
{{ end }}

{{ define "main" }}
    <h1>{{ .Title | humanize }}</h1>
    {{ range .Paginator.Pages }}
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <div>
            <section>
                {{ .Summary }}
            </section>
        </div>
        <div class="meta">{{ .Date.Format "Jan 2, 2006" }} | {{ .WordCount }} Words | <a href="{{ .RelPermalink }}">Read more…</a></div>
    {{ end }}
{{ template "_internal/pagination.html" . }}
{{ end }}