{{ define "title" }}
    {{ .Title }} — {{ .Site.Title }}
{{ end }}

{{ define "main" }}
    <h1>Tag: {{ .Title }}</h1>
    <ul>
        {{ range .Paginator.Pages }}
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <div>
            <section>
                {{ .Summary }}
            </section>
        </div>
        <div class="meta">{{ .Date.Format "Jan 2, 2006" }} | {{ .WordCount }} Words | <a href="{{ .RelPermalink }}">Read more…</a></div>
        {{ end }}
    </ul>
{{ template "_internal/pagination.html" . }}
{{ end }}